@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**
 * Pangea Text font
 */
@font-face {
    font-family: 'PangeaText';
    src: url('/assets/fonts/pangea-text/PangeaText-Regular.woff2') format('woff2'),
         url('/assets/fonts/pangea-text/PangeaText-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'PangeaText';
    src: url('/assets/fonts/pangea-text/PangeaText-SemiBold.woff2') format('woff2'),
         url('/assets/fonts/pangea-text/PangeaText-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}


.h-screen-true {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

/**
 * Improves font rendering
 */
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
}

html,
body {
    @apply scroll-p-0;
}

html {
    @apply scroll-smooth motion-reduce:scroll-auto;
}

body {
    @apply h-screen-true;
}


/**
 * Focus visible styles for keyboard interactions
 */
*,
button {
    @apply focus:outline-none focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-opacity-100 focus-visible:ring-current
    /* focus-visible:ring-1 focus-visible:ring-opacity-100 focus-visible:ring-current focus-visible:rounded-sm; */
}
input {
    @apply focus-visible:outline-none focus-visible:ring-0;
}

strong,
b {
    @apply font-semibold;
}

/**
 * SVG
 */
svg {
    @apply h-full w-auto;
}

/**
 * Hide elements
 */
[x-cloak] { display: none !important; }


.button-primary {
@apply p-4 py-2 bg-teal flex font-semibold items-center  justify-center
rounded-2xl border-2 border-teal-dark text-off-white
drop-shadow-[0_6px_0_#003d4f]
active:drop-shadow-[0_0_0_#003d4f]
disabled:drop-shadow-[0_6px_0_#AAA69A]
disabled:border-ui-disabled disabled:bg-off-white disabled:text-ui-disabled
transition duration-75
;
}


.button-secondary {
    @apply p-4 py-2 bg-cream flex font-semibold items-center justify-center
    rounded-2xl border-2 border-teal text-teal
    drop-shadow-[0_6px_0_teal]
    disabled:border-ui-disabled disabled:bg-off-white disabled:text-ui-disabled
    active:drop-shadow-[0_0_0_teal]
    disabled:drop-shadow-[0_6px_0_#AAA69A]
    transition duration-75
    ;
}

.footer-link-container {
    @apply h-[50px] md:h-[66px] flex items-center
}

.squiggle-under {
    @apply relative
        after:absolute
        after:w-full
        after:h-12 after:bg-repeat-x
        after:bg-squiggle
        after:top-auto
        after:bottom-[-46px]
        after:left-0
        after:transform
        after:translate-y-[-1px]
        after:hidden lg:after:block
        after:content-[''];

}


.custom-page {
    @apply
    w-4 h-4
    bg-teal
    rounded
    transition duration-75
    opacity-100

    ;
}

.custom-page.is-active {
    @apply scale-100 opacity-100 bg-mint
    ;
}

.splide__arrow--next,.splide__arrow--prev {
    @apply  opacity-100;
}

.carousel-container {
    @apply flex flex-col justify-center h-full gap-12 p-6 align-middle pb-44 md:pb-56 text-teal ;
}

.carousel-subheading {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-center;
}

.carousel-heading {
    @apply text-3xl sm:text-6xl md:text-7xl lg:text-9xl font-semibold leading-[28px] sm:leading-[44px] md:leading-[50px] lg:leading-[100px] text-center;
}

@keyframes shrink-in {
    0% {
        transform: scale(1.4) rotate(0deg);
        opacity: 0;
    }
    25% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    75% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(1.4) rotate(0deg);
        opacity: 0;
    }
}

@keyframes shrink-in-30 {
    0% {
        transform: scale(1.4) rotate(0deg);
        opacity: 0;
    }
    25% {
        transform: scale(1) rotate(30deg);
        opacity: 1;
    }
    75% {
        transform: scale(1) rotate(30deg);
        opacity: 1;
    }
    100% {
        transform: scale(1.4) rotate(0deg);
        opacity: 0;
    }
}

@keyframes -shrink-in-30 {
    0% {
        transform: scale(1.4) rotate(0deg);
        opacity: 0;
    }
    25% {
        transform: scale(1) rotate(-30deg);
        opacity: 1;
    }
    75% {
        transform: scale(1) rotate(-30deg);
        opacity: 1;
    }
    100% {
        transform: scale(1.4) rotate(0deg);
        opacity: 0;
    }
}

.splide__slide > div > .shrink-in, .shrink-in-30, .shrink-in--30 {
    opacity: 0;
}

.splide__slide.is-visible > div > .shrink-in {
    animation-name: shrink-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    }

.splide__slide.is-visible > div > .shrink-in--30 {
    animation-name: shrink-in-30;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    }

    .splide__slide.is-visible > div > .shrink-in-30 {
        animation-name: -shrink-in-30;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        }





